HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar


### AutoVCS Configuration Files ###
gh.properties
src/main/resources/hibernate.cfg.xml
config.json

### AutoVCS Temporary Files ###
output/
diffs/
githubCache/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
