<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>NCSU Github Analysis</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Github Analysis</h1>
	<ul>
		<li><a href="populateData.html">Populate Github Data</a></li>
		<li><a href="remapUsers.html">Remap Users</a></li>
		<li><a href="viewContributions.html">View User Contributions</a></li>
		<li><a href="manageExcludedUsers.html">Manage Excluded Users</a></li>
	</ul>
</body>
</html>
