
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Populate data from Github</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
.top15 {
	margin-top: 15px;
}

.top5 {
	margin-top: 5px;
}
</style>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
	
<script src="https://kit.fontawesome.com/8b14d54041.js"
	crossorigin="anonymous"></script>

<body>

	<div layout:fragment="content">

		<script>
			/*<![CDATA[*/
			var app = angular.module('myApp', []);
			app
					.controller(
							'populateCtrl',
							function($scope, $http, $q) {

								$scope.inProgress = false;
								$scope.progressMessage = "Fetching data....this may take a while.  Progress bar will refresh automatically every few seconds until the fetch completes.";

								$scope.success = false;

								$scope.failed = false;

								$scope.submit = {};

								$scope.warning = [];

								$scope.unableToCheckDuplicates = undefined;
								
								$scope.unableToCheckDuplicatesFlag = false;
								
								$scope.howManyFetched = 0;
								$scope.howManyToFetch = 1;

								$scope.getPercentage = function () {
    								return (($scope.howManyFetched * 100) / $scope.howManyToFetch).toFixed(2);
								}
								
								$scope.getTotal = function () {
    								return $scope.howManyFetched;
								}

								$scope.fetch = function() {
									$scope.success = false;
									$scope.complete = false;
									$scope.failed = false;

									$scope.errorMessage = "";

									$scope.warning = [];

									$scope.unableToCheckDuplicates = undefined;
									$scope.unableToCheckDuplicatesFlag = false;

									$http
											.post(
													"/api/v1/populateRepositories/",
													$scope.submit)
											.then(
													function(response) {
														$scope.id = response.data;
														$scope.inProgress = true;
														update();
													},
													function(error) {
														
													});
								}
								
							
								function update() {

									$scope.complete = false;
									
									$scope.repeatId = setInterval(updateInternal, 3000);
								
								
								}
								
								function updateInternal () {
							
									$http.get("/api/v1/populateRepositories/" + $scope.id + "/status").then(
											function(response) {
												$scope.howManyFetched = response.data.howManyFetched === -1 ? 0 : response.data.howManyFetched;
												$scope.howManyToFetch = response.data.howManyToFetch;
												$scope.complete = response.data.isComplete;
																						
												
												console.log("checking again....")
												if($scope.complete){
													clearInterval($scope.repeatId);
													$scope.inProgress = false;
													
													$scope.status = response.data.status;
													$scope.duplicates = response.data.duplicates;
													$scope.unableToCheckDuplicates = response.data.unableToCheckDuplicates;
													
													if ($scope.status == "FAILURE"){
														$scope.failed = true;
														$scope.errorMessage = response.data.completionMessage;
													}
													
													else {
														$scope.successMessage = "Successfully fetched data for "
																+ $scope.howManyFetched
																+ (1 === $scope.howManyFetched ? " repository"
																		: " repositories");
													}
													
													$scope.unableToCheckDuplicatesFlag = Object.keys($scope.unableToCheckDuplicates).length != 0;  
													
												}
												
											},
											function(error) {
											
											}
									);
								
								}

							});
			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="populateCtrl">

			<div class="container">

				<h1>Populate database from GitHub API</h1>

				<div class="top15">

					Enter the GitHub organisation or user to populate data for.
					Application <i>must</i> be setup with a GitHub token that has
					access to this organisation or user. <br /> <input type="text"
						ng-model="submit.organisation" required="true" />

				</div>

				<div class="top15">
					<input type="checkbox" name="user" class="checkbox"
						ng-model="submit.user">This is a User (not an
					Organisation)</input>
				</div>


				<div class="top15">
					Enter the repository prefix to populate data for. This will fetch
					data for all repositories that <i>begin</i> with this name (for
					repositories; for individual users, performs an exact match). <br />
					<input type="text" ng-model="submit.repository" required="true" />

				</div>
				<div class="top15">
					<input type="checkbox" name="commit" class="checkbox"
						ng-model="submit.commit">Include commits</input>
				</div>
				<div ng-show="submit.commit">
					<div class="top5" style="padding-left: 10px">
						<input type="checkbox" name="fetchAll" class="checkbox"
							ng-model="submit.fetchAllHistory">Fetch all history
						(otherwise, just fetches history since the most recent commits)</input>
					</div>

					<div class="top5" style="padding-left: 10px" ng-show="!submit.user">

						<input type="checkbox" name="checkDuplicates" class="checkbox"
							ng-model="submit.checkDuplicates">Check for duplicate
						users</input>&nbsp;&nbsp;<i><strong>NOTE:</strong> This uses teams
							configured through an organisation to identify cases where there
							are users who have made a commit that are not present on the
							team. If you do not have teams configured to provide access to
							each repository, it will not work properly. It is <strong>strongly
								encouraged</strong> that you first <a href="manageExcludedUsers.html"
							target="_blank">create a user <i
										class="fas fa-external-link-square-alt"></i></a> for any
							Teaching Staff or bots who have committed to the repository or you will
							get extraneous warnings.</i>
					</div>
				</div>
				<div class="top15">
					<input type="checkbox" name="pr" class="checkbox"
						ng-model="submit.pr">Include pull requests</input>
				</div>



				<div class="top15">
					<input type="submit" value="Fetch Data" ng-click="fetch()" />
				</div>


				<div id="response" class="top15">
					<div class="alert alert-warning" ng-if="inProgress">
						{{progressMessage}}
						
						<div class="progress">
							<span id="percentage">({{getPercentage()}}%)</span>
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{getPercentage()}}" aria-valuemin="0" 
	  							aria-valuemax="100" ng-style="{width : ( getPercentage() + '%' ) }">
    			
							</div>
						</div>
						
					</div>

					<div ng-if="complete">
						<div class="alert alert-success" ng-if="status != 'FAILURE'">{{successMessage}}</div>
						
						<div class="alert alert-warning" ng-if="0 != duplicates.length">


							Duplicate users were found on the following repositories:
							<div ng-repeat="repo in duplicates">{{repo}}&nbsp;<a href="remapUsers.html?org={{submit.organisation}}&amp;repo={{repo}}" target="_blank">(fix <i
										class="fas fa-external-link-square-alt"></i>)</a></div>


						</div>
						
						<div ng-if="unableToCheckDuplicatesFlag">

							<div class="alert alert-warning" ng-if="submit.checkDuplicates">
	
								Unable to check for duplicate user on one or more repositories:
	
								<div
									ng-repeat="(repo, message) in unableToCheckDuplicates track by $index">
	
									<div>
										<tt>{{repo}}</tt>
										<i> {{message}}</i>
									</div>
									<br />
								</div>
	
							</div>
						</div>
					
						<div class="alert alert-danger" ng-if="failed">
							{{errorMessage}}
	
						</div>
					
					
					</div>






				</div>

				<div class="top15">
					<a href="/index">Home</a>
				</div>


			</div>
		</div>

	</div>



</body>
</html>
