<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Contribution Summaries</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.top15 {
	margin-top: 15px;
}
</style>
<script src="https://kit.fontawesome.com/8b14d54041.js"
	crossorigin="anonymous"></script>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</link>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<body>

	<div layout:fragment="content">

		<script>
			/*<![CDATA[*/
			var app = angular.module('myApp', []);
			app
					.controller(
							'contributionSummaries',
							function($scope, $http, $q) {

								$scope.submit = {};

								$scope.dispError = false;
								$scope.displayContribs = false;
								

								$scope.formatDate = function(date) {
									/* date is seconds, convert this to milliseconds -- ignoring nanoseconds is fine */
									return (new Date(date * 1000)).toLocaleString();
								}

								$scope.format = function(value) {
									if (value < 1)
										return "<1";
									return value.toFixed(2);
								}
								
								

								$scope.fetch = function() {

									if ($scope.filterByDate) {
										$scope.submit.startDate = $scope.startDate.toISOString();
										$scope.submit.endDate = $scope.endDate.toISOString();
									}

									else {
										$scope.submit.startDate = undefined;
										$scope.submit.endDate = undefined;
									}

									$scope.dispError = false;
									$scope.displayContribs = false;
									$scope.submit.type = "BY_USER";
									$http
											.post("/api/v1/contributions/",
													$scope.submit)
											.then(
													function(response) {
														$scope.allContributions = response.data.changesPerUser;
														$scope.changesPerFile = response.data.changesPerFile;
														
														$scope.repo = response.data.repo;
														
														
														
														/** ------ Parse the data that is necessary to make the contributions-by-file chart ------ **/
														
														/* Gives a list of all files changed */
														let changedFiles = Object.keys($scope.changesPerFile);
														
														/* Gives a list of all users who have done _something */
														let users = Object.keys($scope.allContributions); 
														
														let contribsPerUser = Object();
														
														for (user of users){
															contribsPerUser[user] = [];
														}
														
														
														for (changedFile of changedFiles){
															let changeForFile = $scope.changesPerFile[changedFile];	
															for (user of users){
															    var contribToFile = 0;
															    if (undefined != changeForFile[user]){
															    	contribToFile = changeForFile[user];
															    }
															    contribsPerUser[user].push(contribToFile);
															}
														}
														
														/* Build the chart configuration */
														const ctx = document.getElementById('myChart');

														var barOptions_stacked = {
														    tooltips: {
														        enabled: false
														    },
														    hover :{
														        animationDuration:0
														    },
														    scales: {
														        xAxes: [{
														            ticks: {
														                beginAtZero:true,
														                fontFamily: "'Open Sans Bold', sans-serif",
														                fontSize:11
														            },
														            scaleLabel:{
														                display:false
														            },
														            gridLines: {
														            }, 
														            stacked: true
														        }],
														        yAxes: [{
														            gridLines: {
														                display:false,
														                color: "#fff",
														                zeroLineColor: "#fff",
														                zeroLineWidth: 0
														            },
														            ticks: {
														                fontFamily: "'Open Sans Bold', sans-serif",
														                fontSize:11
														            },
														            stacked: true
														        }]
														    },
														    legend:{
														        display: true,
																position: 'bottom',
																
														    },
														    
														    pointLabelFontFamily : "Quadon Extra Bold",
														    scaleFontFamily : "Quadon Extra Bold",
														};
														
														
														datasets = [];
														
														colours = ["red", "green", "blue", "yellow", "purple", "orange", "black"];
																											
														var idx = 0;
														for (const [key, value] of Object.entries(contribsPerUser)) {
															datasets.push({
																data: value,
																label: key,
																backgroundColor: colours[idx],
																hoverBackgroundColor: colours[idx]
															
															});
															idx++;
															
															
														}
														
														/* Build the chart */
														var myChart = new Chart(ctx, {
														    type: 'horizontalBar',
														    data: {
														        labels: changedFiles,
														        
														        datasets: datasets
														    },

														    options: barOptions_stacked,
														});

														$scope.displayContribs = true;
													},
													function(error) {
														$scope.errorMessage = error.data.message;
														$scope.dispError = true;
													});
								}
								
							});
			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="contributionSummaries">
			<div class="container">

				<h1>View Contribution Summaries for {{repo}}</h1>

				<div class="row">
					<div class="col-sm">

						Enter the Github organisation (or individual username) for the
						desired repository. <br /> <input type="text"
							ng-model="submit.organisation" required="true" />

					</div>
					<div class="col-sm">
						Enter the name of the repository to analyse contributions in. <br />
						<input type="text" ng-model="submit.repository" required="true" />

					</div>

					<div class="col-sm">
						<input type="checkbox" ng-model="submit.initialiseUnknown">Initialise
						repository metadata, if necessary?</input>
					</div>


				</div>
				<div class="row top15"></div>

				<div class="row">
					<h5>Additional (optional) settings</h5>
				</div>

				<div class="row top15"></div>

				<div class="row">
					<div class="col-sm">
						<input type="checkbox" ng-model="filterByDate">&nbsp;Filter
						by date?</input>
					</div>

					<div ng-show="filterByDate">
						<div class="col-sm">
							Select the start date: <br /> <input type="datetime-local"
								ng-model="startDate" />
						</div>

						<div class="col-sm">
							Select the end date: <br /> <input type="datetime-local"
								ng-model="endDate" />
						</div>


					</div>

				</div>

				<div class="row">
					<div class="col-sm">
						<input type="checkbox" ng-model="submit.excludeGUI">&nbsp;Exclude
						GUI files?</input>
					</div>
				</div>

				<div class="row">
					<p style="color: red">Anything above this line requires a
						recompute on the server</p>
				</div>

				<div class="row top15"></div>


				<div class="row">
					<div class="col-sm">
						<input type="submit"
							value="Compute Contribution Data (warning -- this may take a moment!)"
							ng-click="fetch()" />
					</div>
				</div>

				<div class="row top15"></div>

				<div class="row">
					<p style="color: green">Anything below this line can be changed
						on the fly</p>
				</div>

				<div class="row">

					<div class="col-sm">
						<input type="checkbox" ng-model="chart">&nbsp;Show a chart
						for viewing high-level contributions to individual files?</input>
					</div>

					<div class="col-sm">
						<input type="checkbox" ng-model="score">&nbsp;Display one
						contributions score for each user?</input>
					</div>

					<div class="col-sm">
						<input type="checkbox" ng-model="summaries">&nbsp;Display
						summaries for each user?</input>
					</div>

					<div class="col-sm">
						<input type="checkbox" ng-model="details">&nbsp;Display
						details for each user?</input>
					</div>

					<div class="col-sm">
						<input type="checkbox" ng-model="commits">&nbsp;Display
						commits for each user?</input>
					</div>

				</div>


				<div class="row flex-column-reverse flex-md-row top15" id="commits"
					ng-show="displayContribs">
					<h3>Contributions Data</h3>

					<div class="col-md-6">

						<div class="row top15"
							ng-repeat="(commitOrUser, contributions) in allContributions track by $index">


							<div class="top15">

								<div ng-show="score">
									<strong>{{commitOrUser}} -- Contribution Score:
										{{contributions.contributionsScore}}</strong>
								</div>
								<div ng-show="score">
									<i>Percentage contribution to team:
										{{format(contributions.contributionsScorePercent)}}%</i>
								</div>


								<div ng-hide="score">
									<strong>{{commitOrUser}}</strong>
								</div>



								<div class="col-sm" ng-show="summaries"
									ng-repeat="(contribution, count) in contributions.binnedChangesCounts track by $index">
									{{contribution}} -- {{count}} time(s)</div>



								<div class="col-sm" ng-show="commits">
									<strong>Commits</strong>
									<div
										ng-repeat="commit in contributions.commits track by $index">

										<div ng-show="$index === 0">
											<strong><code>{{commit.commitMessage}}</code>
												({{formatDate(commit.date)}}) <a href="{{commit.url}}"
												target="_blank"><i
													class="fas fa-external-link-square-alt"></i></a></strong>
										</div>


										<div ng-show="$index != 0">
											<code>{{commit.commitMessage}}</code>
											({{formatDate(commit.date)}}) <a href="{{commit.url}}"
												target="_blank"><i
												class="fas fa-external-link-square-alt"></i></a>
										</div>

									</div>
								</div>



								<div class="col-sm" ng-show="details">
									<strong>Detailed Changes</strong>
									<div
										ng-repeat="changedFile in contributions.changes track by $index">

										<div ng-show="changedFile.score != 0">
											Changes to
											<code>{{changedFile.fileName}}</code>
											<div
												ng-repeat="(changesInFile,countInFile) in changedFile.binnedChangesCounts track by $index">
												&nbsp;&nbsp;{{changesInFile}} -- {{countInFile}} time(s)</div>
										</div>


									</div>

								</div>

							</div>

						</div>
					</div>

					<div class="col-md-6"
						style="position: relative; height: 400; width: 450"
						ng-show="chart">
						<canvas id="myChart"></canvas>
					</div>



				</div>


				<div ng-show="dispError" class="row top15">
					<p style="color: red">{{errorMessage}}</p>
				</div>

				<a href="/index">Home</a>
			</div>




		</div>

	</div>
</body>
</html>
